colorama==0.4.6
dill==0.3.8
imageio==2.34.1
lazy_loader==0.4
markdown-it-py==3.0.0
mdurl==0.1.2
networkx==3.2.1
numpy==2.0.0
oidn==0.2.1
packaging==24.1
pi==0.1.2
pillow==10.3.0
pygame==2.5.2
Pygments==2.18.0
rich==13.7.1
scikit-image==0.22.0
scipy==1.13.1
taichi==1.7.1
tifffile==2024.5.22
